body {
  background: black;
  color: whitesmoke;
}

h1 {
  font-size: 4.58rem !important;
  line-height: 1;
}

h2 {
  font-size: 3.8rem !important;
  line-height: 1;
  @media screen and (max-width: 846px) {
    font-size: 3rem !important;
  }
}

h3 {
  @media screen and (max-width: 889px) {
    font-size: 1.4rem !important;
  }
}

nav {
  z-index: 20;
  ul {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1033px) {
      display: none;
    }
  }
  .menu-btn {
    display: none;
    @media screen and (max-width: 1033px) {
      display: block;
    }
  }
}

.hero-ctn {
  .side-menu {
    width: 5%;
    height: 100%;
    @media screen and (max-width: 1033px) {
      display: none;
    }
  }
  .main-content {
    width: 95%;
    height: 100%;
    // @media screen and (max-width: 1033px) {
    //   margin-left: 1.3rem !important;
    // }
  }
  h1 {
    @media screen and (max-width: 612px) {
      font-size: 3rem !important;
    }
    img {
      @media screen and (max-width: 612px) {
        width: 80px;
        height: 80px;
      }
    }
  }

  p {
    @media screen and (max-width: 612px) {
      font-size: 0.9rem !important;
      line-height: 18px !important;
    }
  }

  button {
    @media screen and (max-width: 612px) {
      font-size: 0.9rem !important;
      padding: 8px 24px !important;
    }
  }
}

.page {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: black;
  z-index: 10;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  // @media screen and (max-width: 846px) {
  //   display: block !important;
  // }

  .text-ctn {
    width: 50%;
    @media screen and (max-width: 846px) {
      width: 100%;
      text-align: left;
      padding: 0 25px !important;
      margin: 0 !important;
    }
  }
  .graphic-ctn {
    width: 50%;
    // height: 60%;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.65);
      z-index: 1000;
    }
    img {
      position: relative;
      border-radius: 50%;
      margin: auto;
    }
    @media screen and (max-width: 846px) {
      display: none !important;
    }
  }
}

.projects {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  .back-drop {
    position: absolute;
    background: rgba(225, 225, 225, 0.35);
    width: 100vw;
    height: 100vh;
  }

  .form-ctn {
    position: absolute;
    background: black;
    width: 35%;
    min-width: 340px;
    form {
      input {
        color: black;
        width: 100%;
      }
      textarea {
        color: black;
        width: 100%;
        height: 12rem;
      }
    }
  }
}

.side-drawer {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background: black;
  @media screen and (max-width: 1033px) {
    display: flex;
  }
}

.projects-grid-ctn {
  &::-webkit-scrollbar {
    width: 0.35rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ef4444;
  }
}
